*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}
#title, #subtitle{
    text-align: center;
    color: #260101;
    margin-top: 30px;
    font-size: 50px;
}
.produtos{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    background-color: #F2F2F2;
}
#btnAdd{
    background-color: #017282;
    color: white;
}
#filtro{
    width: 25px;
}
#btnFilt{
    background-color: #009B8D;
    color: #fff;
}
#btns{
    justify-content: space-between;
}
.img-card {
  height: 240px;
  object-fit: cover;
}
.card {
  margin: 7px;
  width: 20%;
}

.prod{
    width: 330px;
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    margin-bottom: 10px;
}

#p{
    justify-self: center;
    width: 290px;
    display: flex;
    justify-content: space-around;
}