*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#title, #subtitle{
    text-align: center;
    font-family: 'Anton-Regular', sans-serif;
    color: #260101;
    margin-top: 30px;
    font-size: 50px;
}
.produtos{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    border: 2px solid black;
}
#btns{
    justify-content: space-between;
}
.img-card {
  height: 240px;
  object-fit: cover;
}
.card {
  margin: 7px;
  width: 20%;
}

.prod{
    display: flex;
    margin-left: 10px;
    margin-bottom: 10px;
}

#p{
    justify-self: center;
    width: 290px;
    display: flex;
    justify-content: space-around;
}